.btn {

  border-radius: 1.4rem;
  padding: 2rem 3.5rem;
  font-size: $size-btn;


  @media all and (max-width: $media-m){
    display: none;
    }

  &_outline{
      background-color: transparent;
      border: 1px solid black;
  }

  &_header{
      margin-left: 4rem;
  }
}